html {
  width: 100%;
  height: 100%;
}

button, input {
  border: none;
  outline: none;
}

body {
  min-height: 100%;
  background: #05204d url(../images/bg.jpg);
  background-size: 100% 200%;
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
}

body, .crm-wrap {
  height: 100%;
}

.crm-wrap {
  background-size: 1.6rem auto;
}

.ft10 {
  font-size: 10px;
}

.ft12 {
  font-size: 12px;
}

.ft15 {
  font-size: 15px;
}

.ft16 {
  font-size: 16px;
}

.ft18 {
  font-size: 18px;
}
.ft30 {
  font-size: 30px;
}

.lh18 {
  line-height: 1.8;
}

.lh20 {
  line-height: 2;
}

.fw-bold {
  font-weight: bold;
}

.fc-blue {
  color: $fcBlue;
}

.fc-light-dark {
  color: #c5c4d5;
}

.fc-yellow {
  color: $yellow;
}

.fc-txt {
  color: #d0d2e2;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}
.round-pd10 {
  padding:0.1rem;
}
.round-pd20 {
  padding: 0.2rem;
}
.round-pd24 {
  padding:0.24rem;
}
.round-pd30 {
  padding: 0.3rem;
}
.round-pd20-10 {
  padding: 0.2rem 0.1rem;
}
.round-pd20-30 {
  padding: 0.2rem 0.3rem;
}
.round-pd30-40 {
  padding:0.3rem 0.4rem;
}
.round-pd30-0 {
  padding: 0.3rem 0;
}
.round-pd40 {
  padding: 0.4rem;
  color:#77e1fa;
  text-align:center;
}
.round-pdb24 {
  padding-bottom:0.24rem;
}
.round-mg10 {
  margin:0 0.2rem;
  background-color:rgba(255, 255, 255, .06);
}
.round-mgb20 {
  margin-bottom:0.2rem;
}
.round-mt15 {
  margin-top:0.15rem;
}
.txtMid {
  text-align:center;
}
.opacity21 {
  background-color:rgba(125, 230, 255, .21);
}
.bd1{
  border: 1px solid #6e8797;
}
.hide {
  display: none;
}